
footer.ftco-footer
  .container
    .row#footer
      .col-sm-12.col-md-4
          h2.ftco-heading-2.logo#footerTitle
            a(href='/')
              | Serafina's 
              span Soiree
      
      .col-sm-12.col-md-4
          p
          i Unique, handcrafted earrings at an affordable price.
      
      .col-sm-12.col-md-4
          ul.ftco-footer-social.list-unstyled.mt-2#lastone
            li.ftco-animate#social2
              h3#socials Socials:
            li.ftco-animate
              a(href='https://www.facebook.com/serafinassoiree' target='_blank')
                span.fa.fa-facebook
            li.ftco-animate
              a(href='https://www.instagram.com/serafinassoiree/' target='_blank')
                span.fa.fa-instagram

