
footer.ftco-footer
  .container
    .row
      .col-sm-12.col-md-4
          h2.ftco-heading-2.logo
            a(href='#')
              | Serafina's 
              span Soiree
      
      .col-sm-12.col-md-4
          p Far far away, behind the word mountains, far from the countries.
      
      .col-sm-12.col-md-4
          ul.ftco-footer-social.list-unstyled.mt-2
            li.ftco-animate
              a(href='#')
                span.fa.fa-twitter
            li.ftco-animate
              a(href='#')
                span.fa.fa-facebook
            li.ftco-animate
              a(href='#')
                span.fa.fa-instagram

