
footer.ftco-footer
  .container
    .row.mb-5
      .col-sm-12.col-md
        .ftco-footer-widget.mb-4
          h2.ftco-heading-2.logo
            a(href='#')
              | Liquor 
              span Store
          p Far far away, behind the word mountains, far from the countries.
          ul.ftco-footer-social.list-unstyled.mt-2
            li.ftco-animate
              a(href='#')
                span.fa.fa-twitter
            li.ftco-animate
              a(href='#')
                span.fa.fa-facebook
            li.ftco-animate
              a(href='#')
                span.fa.fa-instagram
      .col-sm-12.col-md
        .ftco-footer-widget.mb-4.ml-md-4
          h2.ftco-heading-2 My Accounts
          ul.list-unstyled
            li
              a(href='#')
                span.fa.fa-chevron-right.mr-2
                | My Account
            li
              a(href='#')
                span.fa.fa-chevron-right.mr-2
                | Register
            li
              a(href='#')
                span.fa.fa-chevron-right.mr-2
                | Log In
            li
              a(href='#')
                span.fa.fa-chevron-right.mr-2
                | My Order
      .col-sm-12.col-md
        .ftco-footer-widget.mb-4.ml-md-4
          h2.ftco-heading-2 Information
          ul.list-unstyled
            li
              a(href='#')
                span.fa.fa-chevron-right.mr-2
                | About us
            li
              a(href='#')
                span.fa.fa-chevron-right.mr-2
                | Catalog
            li
              a(href='#')
                span.fa.fa-chevron-right.mr-2
                | Contact us
            li
              a(href='#')
                span.fa.fa-chevron-right.mr-2
                | Term &amp; Conditions
      .col-sm-12.col-md
        .ftco-footer-widget.mb-4
          h2.ftco-heading-2 Quick Link
          ul.list-unstyled
            li
              a(href='#')
                span.fa.fa-chevron-right.mr-2
                | New User
            li
              a(href='#')
                span.fa.fa-chevron-right.mr-2
                | Help Center
            li
              a(href='#')
                span.fa.fa-chevron-right.mr-2
                | Report Spam
            li
              a(href='#')
                span.fa.fa-chevron-right.mr-2
                | Faq&apos;s
      .col-sm-12.col-md
        .ftco-footer-widget.mb-4
          h2.ftco-heading-2 Have a Questions?
          .block-23.mb-3
            ul
              li
                span.icon.fa.fa-map.marker
                span.text 203 Fake St. Mountain View, San Francisco, California, USA
              li
                a(href='#')
                  span.icon.fa.fa-phone
                  span.text +2 392 3929 210
              li
                a(href='#')
                  span.icon.fa.fa-paper-plane.pr-4
                  span.text info@yourdomain.com
  .container-fluid.px-0.py-5.bg-black
    .container
      .row
        .col-md-12
          p.mb-0(style='color: rgba(255,255,255,.5);')
            // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
            | Copyright &copy;
            script.
              document.write(new Date().getFullYear());
            |  All rights reserved | This template is made with 
            i.fa.fa-heart.color-danger(aria-hidden='true')
            |  by 
            a(href='https://colorlib.com' target='_blank') Colorlib.com
            // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
