
footer.ftco-footer
  .container
    .row
      .col-sm-12.col-md-4
          h2.ftco-heading-2.logo
            a(href='#')
              | Serafina's 
              span Soiree
      
      .col-sm-12.col-md-4
          p Far far away, behind the word mountains, far from the countries.
      
      .col-sm-12.col-md-4
          ul.ftco-footer-social.list-unstyled.mt-2
            li.ftco-animate
              a(href='#')
                span.fa.fa-twitter
            li.ftco-animate
              a(href='#')
                span.fa.fa-facebook
            li.ftco-animate
              a(href='#')
                span.fa.fa-instagram

  .container-fluid.px-0.py-5.bg-black
    .container
      .row
        .col-md-12
          p.mb-0(style='color: rgba(255,255,255,.5);')
            // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
            | Copyright &copy;
            script.
              document.write(new Date().getFullYear());
            |  All rights reserved | This template is made with 
            i.fa.fa-heart.color-danger(aria-hidden='true')
            |  by 
            a(href='https://colorlib.com' target='_blank') Colorlib.com
            // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
