section.ftco-intro
  .container
    .row.no-gutters
      .col-md-4.d-flex
        .intro.d-lg-flex.w-100.ftco-animate
          .icon
            span.flaticon-support
          .text
            h2 Online Support 24/7
            p
              | A small river named Duden flows by their place and supplies it with the necessary regelialia.
      .col-md-4.d-flex
        .intro.color-1.d-lg-flex.w-100.ftco-animate
          .icon
            span.flaticon-cashback
          .text
            h2 Money Back Guarantee
            p
              | A small river named Duden flows by their place and supplies it with the necessary regelialia.
      .col-md-4.d-flex
        .intro.color-2.d-lg-flex.w-100.ftco-animate
          .icon
            span.flaticon-free-delivery
          .text
            h2 Free Shipping &amp; Return
            p
              | A small river named Duden flows by their place and supplies it with the necessary regelialia.
