

nav#ftco-navbar.navbar.navbar-expand-lg.navbar-dark.ftco_navbar.bg-dark.ftco-navbar-light
  .container
    a.navbar-brand(href='/')
      | Liquor 
      span store
    .order-lg-last.btn-group
      a.btn-cart.dropdown-toggle.dropdown-toggle-split(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
        span.flaticon-shopping-bag
        .d-flex.justify-content-center.align-items-center
          small 3
      .dropdown-menu.dropdown-menu-right
        .dropdown-item.d-flex.align-items-start(href='#')
          .img(style='background-image: url(images/prod-1.jpg);')
          .text.pl-3
            h4 Bacardi 151
            p.mb-0
              a.price(href='#') $25.99
              span.quantity.ml-3 Quantity: 01
        .dropdown-item.d-flex.align-items-start(href='#')
          .img(style='background-image: url(images/prod-2.jpg);')
          .text.pl-3
            h4 Jim Beam Kentucky Straight
            p.mb-0
              a.price(href='#') $30.89
              span.quantity.ml-3 Quantity: 02
        .dropdown-item.d-flex.align-items-start(href='#')
          .img(style='background-image: url(images/prod-3.jpg);')
          .text.pl-3
            h4 Citadelle
            p.mb-0
              a.price(href='#') $22.50
              span.quantity.ml-3 Quantity: 01
        a.dropdown-item.text-center.btn-link.d-block.w-100(href='cart.html')
          | View All
          span.ion-ios-arrow-round-forward
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#ftco-nav' aria-controls='ftco-nav' aria-expanded='false' aria-label='Toggle navigation')
      span.oi.oi-menu
      |  Menu
    #ftco-nav.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        if active.home
          li.nav-item.active
            a.nav-link(href='/') Home
        else
          li.nav-item
            a.nav-link(href='/') Home
        if active.about
          li.nav-item.active
            a.nav-link(href='/about') About
        else
          li.nav-item
            a.nav-link(href='/about') About

        li.nav-item.dropdown

          a#dropdown04.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Products
          .dropdown-menu(aria-labelledby='dropdown04')
            a.dropdown-item(href='/product') Products
            a.dropdown-item(href='/product-single') Single Product
            a.dropdown-item(href='/cart') Cart
            a.dropdown-item(href='/checkout') Checkout

        if active.blog
          li.nav-item.active
            a.nav-link(href='/blog') Blog
        else
          li.nav-item
            a.nav-link(href='/blog') Blog

        if active.contact
          li.nav-item.active
            a.nav-link(href='/contact') Contact
        else
          li.nav-item
            a.nav-link(href='/contact') Contact