


section.ftco-section
  .container
    .row.justify-content-center.pb-5
      .col-md-7.heading-section.text-center.ftco-animate
        span.subheading Our Delightful offerings
        h2 Tastefully Yours
    .row
      .col-md-3.d-flex
        .product.ftco-animate
          .img.d-flex.align-items-center.justify-content-center(style='background-image: url(images/prod-1.jpg);')
            .desc
              p.meta-prod.d-flex
                a.d-flex.align-items-center.justify-content-center(href='#')
                  span.flaticon-shopping-bag
                a.d-flex.align-items-center.justify-content-center(href='#')
                  span.flaticon-heart
                a.d-flex.align-items-center.justify-content-center(href='#')
                  span.flaticon-visibility
          .text.text-center
            span.sale Sale
            span.category Brandy
            h2 Bacardi 151
            p.mb-0
              span.price.price-sale $69.00
              span.price $49.00
      .col-md-3.d-flex
        .product.ftco-animate
          .img.d-flex.align-items-center.justify-content-center(style='background-image: url(images/prod-2.jpg);')
            .desc
              p.meta-prod.d-flex
                a.d-flex.align-items-center.justify-content-center(href='#')
                  span.flaticon-shopping-bag
                a.d-flex.align-items-center.justify-content-center(href='#')
                  span.flaticon-heart
                a.d-flex.align-items-center.justify-content-center(href='#')
                  span.flaticon-visibility
          .text.text-center
            span.seller Best Seller
            span.category Gin
            h2 Jim Beam Kentucky Straight
            span.price $69.00
      .col-md-3.d-flex
        .product.ftco-animate
          .img.d-flex.align-items-center.justify-content-center(style='background-image: url(images/prod-3.jpg);')
            .desc
              p.meta-prod.d-flex
                a.d-flex.align-items-center.justify-content-center(href='#')
                  span.flaticon-shopping-bag
                a.d-flex.align-items-center.justify-content-center(href='#')
                  span.flaticon-heart
                a.d-flex.align-items-center.justify-content-center(href='#')
                  span.flaticon-visibility
          .text.text-center
            span.new New Arrival
            span.category Rum
            h2 Citadelle
            span.price $69.00
      .col-md-3.d-flex
        .product.ftco-animate
          .img.d-flex.align-items-center.justify-content-center(style='background-image: url(images/prod-4.jpg);')
            .desc
              p.meta-prod.d-flex
                a.d-flex.align-items-center.justify-content-center(href='#')
                  span.flaticon-shopping-bag
                a.d-flex.align-items-center.justify-content-center(href='#')
                  span.flaticon-heart
                a.d-flex.align-items-center.justify-content-center(href='#')
                  span.flaticon-visibility
          .text.text-center
            span.category Rum
            h2 The Glenlivet
            span.price $69.00
      .col-md-3.d-flex
        .product.ftco-animate
          .img.d-flex.align-items-center.justify-content-center(style='background-image: url(images/prod-5.jpg);')
            .desc
              p.meta-prod.d-flex
                a.d-flex.align-items-center.justify-content-center(href='#')
                  span.flaticon-shopping-bag
                a.d-flex.align-items-center.justify-content-center(href='#')
                  span.flaticon-heart
                a.d-flex.align-items-center.justify-content-center(href='#')
                  span.flaticon-visibility
          .text.text-center
            span.category Whiskey
            h2 Black Label
            span.price $69.00
      .col-md-3.d-flex
        .product.ftco-animate
          .img.d-flex.align-items-center.justify-content-center(style='background-image: url(images/prod-6.jpg);')
            .desc
              p.meta-prod.d-flex
                a.d-flex.align-items-center.justify-content-center(href='#')
                  span.flaticon-shopping-bag
                a.d-flex.align-items-center.justify-content-center(href='#')
                  span.flaticon-heart
                a.d-flex.align-items-center.justify-content-center(href='#')
                  span.flaticon-visibility
          .text.text-center
            span.category Tequila
            h2 Macallan
            span.price $69.00
      .col-md-3.d-flex
        .product.ftco-animate
          .img.d-flex.align-items-center.justify-content-center(style='background-image: url(images/prod-7.jpg);')
            .desc
              p.meta-prod.d-flex
                a.d-flex.align-items-center.justify-content-center(href='#')
                  span.flaticon-shopping-bag
                a.d-flex.align-items-center.justify-content-center(href='#')
                  span.flaticon-heart
                a.d-flex.align-items-center.justify-content-center(href='#')
                  span.flaticon-visibility
          .text.text-center
            span.category Vodka
            h2 Old Monk
            span.price $69.00
      .col-md-3.d-flex
        .product.ftco-animate
          .img.d-flex.align-items-center.justify-content-center(style='background-image: url(images/prod-8.jpg);')
            .desc
              p.meta-prod.d-flex
                a.d-flex.align-items-center.justify-content-center(href='#')
                  span.flaticon-shopping-bag
                a.d-flex.align-items-center.justify-content-center(href='#')
                  span.flaticon-heart
                a.d-flex.align-items-center.justify-content-center(href='#')
                  span.flaticon-visibility
          .text.text-center
            span.category Whiskey
            h2 Jameson Irish Whiskey
            span.price $69.00
    .row.justify-content-center
      .col-md-4
        a.btn.btn-primary.d-block(href='product.html')
          | View All Products 
          span.fa.fa-long-arrow-right
