
section.ftco-section.ftco-no-pb
  .container
    .row
      .col-lg-2.col-md-4
        a(href="/product/collections/1")
          .sort.w-100.text-center.ftco-animate
            .img(style='background-image: url(./images/cat1.PNG);')
            h3 New Arrivals
      .col-lg-2.col-md-4
        a(href="/product/collections/0")
          .sort.w-100.text-center.ftco-animate
            .img(style='background-image: url(./images/cat2.PNG);')
            h3 Sale
      .col-lg-2.col-md-4
        a(href="/product/collections/5")
          .sort.w-100.text-center.ftco-animate
            .img(style='background-image: url(./images/cat3.PNG);')
            h3 Spring
      .col-lg-2.col-md-4
        a(href="/product/collections/2")
          .sort.w-100.text-center.ftco-animate
            .img(style='background-image: url(./images/cat4.PNG);')
            h3 Summer
      .col-lg-2.col-md-4
        a(href="/product/collections/3")
          .sort.w-100.text-center.ftco-animate
            .img(style='background-image: url(./images/cat5.PNG);')
            h3 Winter
      .col-lg-2.col-md-4
        a(href="/product/collections/4")
          .sort.w-100.text-center.ftco-animate
            .img(style='background-image: url(./images/cat6.PNG);')
            h3 Autumn