
section.ftco-section.ftco-no-pb
  .container
    .row
      .col-lg-2.col-md-4
        a(href="/product")
          .sort.w-100.text-center.ftco-animate
            .img(style='background-image: url(images/cat1.png);')
            h3 New Arrivals
      .col-lg-2.col-md-4
        a(href="/product")
          .sort.w-100.text-center.ftco-animate
            .img(style='background-image: url(images/cat2.png);')
            h3 Sale
      .col-lg-2.col-md-4
        a(href="/product")
          .sort.w-100.text-center.ftco-animate
            .img(style='background-image: url(images/cat3.png);')
            h3 Spring
      .col-lg-2.col-md-4
        a(href="/product")
          .sort.w-100.text-center.ftco-animate
            .img(style='background-image: url(images/cat4.png);')
            h3 Summer
      .col-lg-2.col-md-4
        a(href="/product")
          .sort.w-100.text-center.ftco-animate
            .img(style='background-image: url(images/cat5.png);')
            h3 Winter
      .col-lg-2.col-md-4
        a(href="/product")
          .sort.w-100.text-center.ftco-animate
            .img(style='background-image: url(images/cat6.png);')
            h3 Autumn