
section.ftco-section.ftco-no-pb
  .container
    .row
      .col-lg-2.col-md-4
        .sort.w-100.text-center.ftco-animate
          .img(style='background-image: url(images/kind-1.jpg);')
          h3 Brandy
      .col-lg-2.col-md-4
        .sort.w-100.text-center.ftco-animate
          .img(style='background-image: url(images/kind-2.jpg);')
          h3 Gin
      .col-lg-2.col-md-4
        .sort.w-100.text-center.ftco-animate
          .img(style='background-image: url(images/kind-3.jpg);')
          h3 Rum
      .col-lg-2.col-md-4
        .sort.w-100.text-center.ftco-animate
          .img(style='background-image: url(images/kind-4.jpg);')
          h3 Tequila
      .col-lg-2.col-md-4
        .sort.w-100.text-center.ftco-animate
          .img(style='background-image: url(images/kind-5.jpg);')
          h3 Vodka
      .col-lg-2.col-md-4
        .sort.w-100.text-center.ftco-animate
          .img(style='background-image: url(images/kind-6.jpg);')
          h3 Whiskey
