section.ftco-section.testimony-section.img(style='background-image: url(images/bg_4.jpg);')
  .overlay
  .container
    .row.justify-content-center.mb-5
      .col-md-7.text-center.heading-section.heading-section-white.ftco-animate
        span.subheading Testimonial
        h2.mb-3 Happy Clients
    .row.ftco-animate
      .col-md-12
        .carousel-testimony.owl-carousel.ftco-owl
          .item
            .testimony-wrap.py-4
              .icon.d-flex.align-items-center.justify-content-center
                span.fa.fa-quote-left
              .text
                p.mb-4
                  | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                .d-flex.align-items-center
                  .user-img(style='background-image: url(images/person_1.jpg)')
                  .pl-3
                    p.name Roger Scott
                    span.position Marketing Manager
          .item
            .testimony-wrap.py-4
              .icon.d-flex.align-items-center.justify-content-center
                span.fa.fa-quote-left
              .text
                p.mb-4
                  | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                .d-flex.align-items-center
                  .user-img(style='background-image: url(images/person_2.jpg)')
                  .pl-3
                    p.name Roger Scott
                    span.position Marketing Manager
          .item
            .testimony-wrap.py-4
              .icon.d-flex.align-items-center.justify-content-center
                span.fa.fa-quote-left
              .text
                p.mb-4
                  | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                .d-flex.align-items-center
                  .user-img(style='background-image: url(images/person_3.jpg)')
                  .pl-3
                    p.name Roger Scott
                    span.position Marketing Manager
          .item
            .testimony-wrap.py-4
              .icon.d-flex.align-items-center.justify-content-center
                span.fa.fa-quote-left
              .text
                p.mb-4
                  | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                .d-flex.align-items-center
                  .user-img(style='background-image: url(images/person_1.jpg)')
                  .pl-3
                    p.name Roger Scott
                    span.position Marketing Manager
          .item
            .testimony-wrap.py-4
              .icon.d-flex.align-items-center.justify-content-center
                span.fa.fa-quote-left
              .text
                p.mb-4
                  | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                .d-flex.align-items-center
                  .user-img(style='background-image: url(images/person_2.jpg)')
                  .pl-3
                    p.name Roger Scott
                    span.position Marketing Manager
